<a href="https://colab.research.google.com/github/SamuelWanjiru/Covid-19_Global_Analysis_and_prediction/blob/main/Covid_19_Global_Analysis_and_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **<font color='red'>üöë <u>Covid-19 Global Analysis and prediction</u> üè•**

In this article, i will be analysing global **<font color='blue'>confirmed cases</font>** and **<font color='red'>deaths</font>** using **python**.

I will then introduce you to a machine learning approach to predicting covid-19 cases for the next 30 days.

These types of predictive models help in providing an accurate **prediction of epidemics,** which is essential for obtaining information on the likely **spread** and consequences of **infectious diseases ü§¢**.

**Governments** and other legislative bodies rely on these kinds of machine learning predictive models and ideas to suggest **new policies** and assess the effectiveness of applied policies.

The dataset used in this analysis is a daily updating version of [COVID-19 Data Repository](https://github.com/CSSEGISandData/COVID-19) from 2019 by the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University (JHU).

For more information, click [here](https://covidbehaviors.org/).

## **<font color='blue'><u>Task </u>** 
Predicting covid-19 cases for the next 30 days using python.


**<font color='brown'>Pointers** : To install prohet model, use the code below
```
# pip install pystan==2.19.1.1 prophet
```

## **Connecting/mounting the google drive**

In [2]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

### **Importing the relevant data analysis libraries**

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

from prophet import Prophet
from sklearn.metrics import r2_score

plt.style.use("ggplot")

### **Loading the datasets**

In [14]:
Global_Cases = pd.read_csv(r'/content/gdrive/My Drive/KAGGLE PROJECTS/Covid-19 Cases Analysis and Prediction/Data/CONVENIENT_global_confirmed_cases.csv')
Global_Deaths = pd.read_csv(r'/content/gdrive/My Drive/KAGGLE PROJECTS/Covid-19 Cases Analysis and Prediction/Data/CONVENIENT_global_deaths.csv')

### **Understanding the data**

**Global Cases**

In [16]:
Global_Cases.head()

,Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antarctica,Antigua and Barbuda,Argentina,Armenia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Winter Olympics 2022,Yemen,Zambia,Zimbabwe
0,Province/State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1/23/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
2,1/24/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1/25/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1/26/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

**Global Deaths**

In [17]:
Global_Deaths.head()

,Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antarctica,Antigua and Barbuda,Argentina,Armenia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Winter Olympics 2022,Yemen,Zambia,Zimbabwe
0,Province/State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1/23/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1/24/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1/25/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1/26/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0